---
layout: default
title: Blogs
permalink: /blog/
date: 2020-05-31
---

<h2>My Blogs</h2>
{% for post in site.posts %}
<time>{{ post.date | date: "%b %-d, %Y" }}</time> :
<b> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> </b>
<br />
{% endfor %}
