---
layout: default
title: Projects
permalink: /project/
date: 2020-05-31
---

<h2>My Projects</h2>
{% for project in site.projects %}
<time>{{ project.date | date: "%b %-d, %Y" }}</time> :
<b>
  <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
</b>
<br />
{% endfor %}
