<div class="author">
  <img class="author-avatar" src="{{site.baseurl}}/assets/img/avatar.gif" alt="{{ site.author.username }}" />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>
