<footer class="footer">
  <h2 class="footer-heading" style="padding-left: 15px;">{{ site.title }}</h2>

  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1" style="text-align: center;">
      {{ site.author.name }}<br>
      <a href="mailto:{{ site.email }}">{{ site.author.email }}</a>
    </div>
    <div class="footer-col footer-col-2" style="text-align: center;">
      <p>{{ site.description }}</p>
    </div>
  </div>
</footer>

<script src="/assets/js/main.js" defer="defer"></script>
