---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}

<body>
  {% include navbar.html %}
  <div class="wrapper">
    <main aria-label="Content">
      <div class="not-found">
        <div class="container">
          <img src="../img/404/very-brave-you-was-young-padawan.jpg" alt="">
          <p class="phrase">Very brave indeed. Lost is you. I see it.</p>
          <a class="solution" href="{{ site.url }}">Time for you to go back, it is</a>
        </div>
      </div>
    </main>

  </div>
  {% include footer.html %}
</body>

</html>