---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include header.html %}

  <body data-theme="{{ site.mode }}">
    {% include navbar.html %}

    <div class="wrapper">
      <main aria-label="Content">
        {{ content }}
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
