---
layout: default
---

<meta name="viewport" content="width=device-width">
<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: 1000px) {
        .column {
            width: 100%;
        }
    }

    .project-padding {
        padding-top: 80px;
    }

    .image-padding {
        padding: 40px 10px 10px 30px;
    }
</style>

<article class="post">
    <div class="post-content">
        <div class="project-padding"></div>
        <div class="row">
            <div class="column" style="text-align:center">
                <h1 class="post-title" style="text-align: center">{{ page.title }}</h1>
                <p>{{ content }}</p>
            </div>
            <div class="column" style="text-align:right">
                <img src="{{ page.image | liquify}}" class="image-padding">
            </div>
        </div>
    </div>
</article>